.add-tracker label {
  font-weight: bold;
}

.add-tracker input {
  margin-top: 4px;
  margin-bottom: 20px;
}

.add-tracker__tracker-id-input {
  width: 100%;
}

.add-tracker__emmission-category {
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid var(--color-tint);
  cursor: auto;
}

.add-tracker section {
  margin-bottom: 20px;
}

.add-tracker section.horizontal {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.add-tracker section.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-tracker__save {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

