.add-tracker label {
  font-weight: bold;
}

.add-tracker input {
  margin-top: 4px;
  margin-bottom: 20px;
}

.add-tracker__tracker-id-input {
  width: 100%;
}

.add-tracker__emmission-category {
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid var(--color-tint);
  cursor: auto;
}

.add-tracker section {
  /*margin-bottom: 20px;*/
}

.add-tracker section.horizontal {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.add-tracker section.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-tracker__save {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.ReactModal__Content.ReactModal__Content--after-open {
  box-shadow: 0 5px 10px #000;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__header__close {
  color: var(--color-danger);
  font-size: 1.6em;
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  padding: 0 10px;
  border-bottom: var(--color-tint) 1px solid;
  border-left: var(--color-tint) 1px solid;
  border-radius: 0 4px 0 4px;
}

.modal__header__close:hover {
  cursor: pointer;
}
