.login {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://slack-imgs.com/?c=1&url=https%3A%2F%2Fak5.picdn.net%2Fshutterstock%2Fvideos%2F2709875%2Fthumb%2F1.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__content {
    background: rgba(255, 255, 255, .90);
    margin-bottom: 100px;
    padding: 40px 200px;
    border: 2px solid var(--color-tint);
    display: flex;
    flex-direction: column;
}

.login__content h1 {
    margin-top: 0;
    color: var(--color-tint);
}

.login__content form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login__content__forgot-password {
    font-size: 0.75em;
}
