nav {
  grid-area: nav;
  padding: 0 40px;
  border-bottom: 2px solid var(--color-tint);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logout .btn {
  margin: 0;
}
