nav {
  grid-area: nav;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .50);
}

.nav__logout .btn {
  margin: 0;
}
