.trackers {
  display: grid;
  /*grid-column-gap: 20px;*/
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas: "nav nav" "table controls";
}

.trackers__nav {
  grid-area: nav;
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--color-tint);
}

.trackers__table {
  grid-area: table;
  padding: 20px 0 10px 20px;
}

.trackers__administration {
  grid-area: controls;
  padding: 20px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-bottom: 1px solid var(--color-tint);
}

.trackers__administration__controls {
}

.trackers__administration__controls input {
  width: 100%;
}

.trackers__administration__history {
}

.history {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
