.nav {
  grid-area: nav;
  height: 80px;
  padding: 0 40px;
  background-color: var(--color-primary);
  color: white;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  align-items: center;
  grid-auto-flow: column;
  z-index: 2;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .50);
}

.nav a {
  color: white;
}

.nav__heading {
  margin: 0;
}

.nav__heading a {
  text-decoration: none;
}

.nav a.active {
  text-decoration: underline;
}

.nav__logout .btn {
  margin: 0;
}
