:root {
    --color-main: #1e2e92;
    --color-main-dark: rgba(0, 0, 0, .2);
    --color-tint: #eeeeee;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 0 40px;
    background-color: var(--color-main);
}

header {
    padding: 0 20px;
    height: 100px;
    color: var(--color-tint);
    background-color: var(--color-main-dark);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    align-items: center;
    grid-auto-flow: column;
}

.background {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--color-tint);
    cursor: pointer;
}

.background.active {
    border-color: var(--color-main);
}

.color {
    padding: 4px;
    font-weight: bold;
    cursor: pointer;
}

.color.light {
    background-color: var(--color-main);
    color: #eeeeee;
    border: 2px solid #eeeeee;
}

.color.dark {
    background-color: var(--color-main);
    color: black;
    border: 2px solid black;
}

[data-background], [data-color] {
    opacity: 0;
}

[data-background].visible, [data-color].visible {
    opacity: 1;
}

#color-picker {
    display: flex;
    align-items: center;
    justify-content: center;
}

#color-picker.active { background-color: var(--color-main); font-weight: bold; }

#color-toggler {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

main {
    display: grid;
    grid-gap: 20px;
    margin: 0 40px;
}

section {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.section__heading {
    color: var(--color-tint);
    border-bottom: 1px solid var(--color-tint);
    grid-column: 1 / -1;
}

.section__item__main {
    padding: 10px;
    color: var(--color-tint);
    border: 1px solid var(--color-tint);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.section__item__main:hover,
.section__item__main:active {
    padding: 11px;
    background-color: var(--color-main-dark);
    transition: background-color 150ms ease-in;
    border: none;
}

.section__item__otap {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.section__item__otap a {
    padding: 10px;
    color: var(--color-tint);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid var(--color-tint);
}

.section__item__otap a:not([href^="http"]) {
    opacity: 0.5;
    font-weight: normal;
    cursor: default;
}

.section__item__otap a[href^="http"]:hover {
    background-color: var(--color-main-dark);
    border: none;
    padding: 11px;
}

.section__item {
    padding: 10px;
    color: var(--color-tint);
    border: 1px solid var(--color-tint);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__item:hover,
.section__item:active {
    padding: 11px;
    background-color: var(--color-main-dark);
    transition: background-color 150ms ease-in;
    border: none;
}

img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

@media all and (max-width: 900px) {
    header {
        grid-auto-flow: unset;
    }

    .background, .color, #color-toggler {
        display: none;
    }
}