.region-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 1fr;
  grid-template-areas: "region-map region-map" "region-table region-prices";
}

.region-page .map {
  grid-area: region-map;
  display: flex;
  align-items: center;
  justify-content: center;
}

.region__info__table {
  grid-area: region-table;
  width: 100%;
}

.region__info__prices {
  grid-area: region-prices;
  padding: 20px;
}

.region__time__price--default {
  margin-bottom: 10px;
}

.region__time__price__headers {
  display: flex;
}

.save-time-region-button {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.region__time__price__headers span {
  width: 120px;
  margin-left: 20px;
}

.region__time__price {
  margin-bottom: 10px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.region__time__price--default input,
.region__time__price input {
  width: 120px;
  margin: 0;
}

.feather:hover {
  stroke: var(--color-primary);
  cursor: pointer;
}



